@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* VARIABLES */

:root {
  --black: hsl(248, 30%, 20%);
  --primary-color: hsl(170, 100%, 40%);
  --secondary-color: hsl(182, 98%, 35%);
  --link-color: hsl(246, 84%, 55%);
  --white: hsl(0, 0%, 100%);
  --gradient: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

/* RESET */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* STYLES */

body {
  font-family: montserrat;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: var(--black);
}

h1 {
  font-size: 5.6rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.8rem;
}

p {
  line-height: 1.5;
  text-align: start;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 2rem;
  }
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}

address {
  font-style: inherit;
  display: inline-block;
}

.u-color-white {
  color: var(--white);
}

.u-color-primary {
  color: var(--primary-color);
}

.u-color-secondary {
  color: var(--secondary-color);
}

.u-flex-column {
  flex-direction: column;
}

.hero {
  height: 100vh;
  display: grid;
  align-items: center;

  &__heading {
    padding-left: 15%;
  }

  &__text {
    position: relative;
    animation: moveInLeft 1s 0.7s both;
    text-align: start;
  }

  &__btn {
    position: relative;
    animation: moveInLeft 1s 1.5s both;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}

.wrapper {
  display: flex;
  align-items: center;

  &__item {
    flex: 0 0 50%;
    text-align: center;
    padding: 0 1.5rem;

    &--one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }

    &--two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }

  &:not(:last-child) {
    margin-bottom: 8rem;
  }
}

.about {
  background-image: var(--gradient);
  padding: 10rem 1.5rem 15%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  &__image {
    box-shadow: 0 1rem 1rem rgba(22, 22, 22, 0.2);
    border-radius: 4px;
    width: 35rem;
  }

  &__btn {
    text-align: start;
  }
}

.projects {
  padding: 5rem 3rem 0;

  &__project {
    width: 100%;
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-areas:
      'title demo'
      'details demo'
      'buttons demo';
    column-gap: 8rem;
    margin-bottom: 10rem;
  }

  &__title {
    grid-area: title;
  }

  &__details {
    grid-area: details;
  }

  &__btns {
    grid-area: buttons;
  }

  &__demo {
    grid-area: demo;
    align-self: center;
  }

  &__image {
    max-width: 61rem;
    max-height: 40rem;
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem hsla(0, 0%, 9%, 0.2);
  }
}

.contact {
  background-image: var(--gradient);
  margin-top: 10rem;
  padding: 15rem 7rem 10rem;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  text-align: center;

  &__header {
    margin-bottom: 4.5rem;
  }

  &__body {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }
}

.footer {
  background-color: #333;
  text-align: center;
  padding: 4.8rem 0 2rem;

  &__copyright {
    font-size: 1.3rem;
    color: hsl(0, 0%, 50%);
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    border: 2px var(--primary-color) solid;
    padding: 0.8rem 1.6rem;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--green {
    &,
    &:link,
    &:visited {
      color: var(--primary-color);
    }

    &:hover {
      color: var(--white);
      background-color: var(--primary-color);
    }
  }

  &--white {
    &,
    &:link,
    &:visited {
      color: var(--white);
      border: 2px var(--white) solid;
    }

    &:hover {
      color: var(--primary-color);
      background-color: var(--white);
    }
  }

  &--no-border {
    &,
    &:link,
    &:visited {
      border: none;
    }

    &:hover {
      background: none;
      color: var(--primary-color);
    }
  }

  &--icon {
    &,
    &:link,
    &:visited {
      border: none;
      margin: 1rem 0 1.6rem;
      padding: 0;
    }
  }

  &--large {
    font-size: 2.4rem;
  }
}

.u-shift-right {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateX(2px);
  }
}

.back-to-top {
  margin: 1rem 0 1.6rem;
}

.social-links i {
  color: var(--white);
}

.u-shift-up {
  transition: transform 0.2s ease-in;
}

.u-shift-up:hover {
  transform: translateY(-2px);
}

.u-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.social-links a {
  height: 5rem;
  width: 5rem;
  margin: 1.6rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  border-top: 2px solid hsla(0, 0%, 100%, 0.1);
  width: 50%;
  margin: 1rem auto;
}

/* MEDIA QUERIES */

/* LARGE */
@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}

/* MEDIUM */
@media (max-width: 1024px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.4rem;
  }

  .hero {
    &__heading {
      padding-left: 5%;
    }
  }

  .container {
    max-width: 760px;
  }

  .about {
    &__image {
      width: 30rem;
    }
  }

  .projects {
    &__project {
      margin-bottom: 5rem;
    }

    &__image {
      max-width: 40rem;
      max-height: 30rem;
    }
  }

  .contact {
    &__header {
      margin-bottom: 3rem;
    }
  }

  .footer {
    &__copyright {
      font-size: 1.1rem;
    }
  }
  .btn {
    &--large {
      font-size: 2.2rem;
    }
  }
}

/* SMALL */
@media (max-width: 768px) {
  h1 {
    font-size: 4.2rem;
    margin-bottom: 2.4rem;
  }

  .wrapper {
    flex-direction: column;

    &__item {
      padding-bottom: 4rem;
    }
  }

  .about,
  .contact {
    clip-path: none;
  }

  .about {
    padding-bottom: 0;
    padding-top: 5rem;
  }

  .projects {
    &__project {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'demo'
        'details'
        'buttons';
      justify-items: center;
      margin-bottom: 6rem;
    }

    &__demo {
      margin-bottom: 2rem;
    }
  }

  .btn {
    font-size: 1.2rem;

    &--large {
      font-size: 1.8rem;
    }
  }
}

/* X-SMALL */
@media (max-width: 480px) {
  h1 {
    font-size: 3.6rem;
  }

  .about {
    &__image {
      width: 100%;
      max-width: 30rem;
    }
  }

  .projects {
    &__demo {
      max-width: 80%;
    }

    &__image {
      max-width: 100%;
    }
  }

  .btn {
    &,
    &:link,
    &:visited {
      padding: 0.8rem 1.6rem;
    }

    &--large {
      font-size: 1.6rem;
    }
  }
}

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    left: -3rem;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}
